@import url('./__place/places__place.css');

.places {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  font-style: normal;
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
}

@media screen and (max-width: 1279px) {
	.places {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
	.places {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
	.places {
    max-width: 720px;
  }
}

@media screen and (max-width: 374px) {
	.places {
    width: 100%;
  }
}