.comments__content-subtitle {
  margin: 0 auto;
  padding: 0;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .comments__content-subtitle {
    width: 100%;
    font-size: 16px;
    line-height: 23px;
  }
}
