@import url("./__title/intro__title.css");
@import url("./__text/intro__text.css");
@import url("./__text-statistic/intro__text-statistic.css");
@import url("./__statistic/intro__statistic.css");
@import url("./__statistic-span/intro__statistic-span.css");

.intro {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  color: #ffffff;
  font-style: normal;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 1279px) {
	.intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 343px;
  }
}

@media screen and (max-width: 374px) {
  .intro {
    max-width: 292px;
  }
}